<div class="dashboard-container">
  <h1>{{ bankName }} Dashboard</h1>
  <div class="card">
    <h2>Account Details</h2>
    <p><strong>Account Holder:</strong> {{ accountHolder }}</p>
    <p><strong>Account Number:</strong> {{ accountNumber | maskAccount}}</p>
    <p><strong>Available Balance:</strong> {{ balance | currency:'INR' }}</p>  </div>
  <div class="card">
    <h2>Recent Transactions</h2>
    <ul>
      <li *ngFor="let transaction of transactions">
        {{ transaction.type }} - {{ transaction.amount | currency:'INR' }}
      </li>
    </ul>
  </div>
</div>